<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         name="DFI"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

    <description>DFI phpCS</description>

    <file>./app</file>
    <file>./set-default-featured-image.php</file>
    <file>./dfi.php</file>
    <file>./uninstall.php</file>

    <!-- Only check PHP files. -->
    <arg name="extensions" value="php"/>

    <!-- Show progress, show the error codes for each message (source). -->
    <arg value="ps"/>

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./"/>

    <!-- Check up to 8 files simultaneously. -->
    <arg name="parallel" value="8"/>


    <!--
    #############################################################################
    SET THE RULES
    #############################################################################
    -->

    <rule ref="WordPress">
      <exclude name="Squiz.Commenting.FileComment.Missing"/>
	  <exclude name="Generic.Functions.CallTimePassByReference"/>
    </rule>

    <config name="testVersion" value="7.4-"/>
    <rule ref="PHPCompatibilityWP"/>

    <!--
    #############################################################################
    SNIFF SPECIFIC CONFIGURATION
    #############################################################################
    -->

    <!-- Set the minimum supported WP version. This is used by several sniffs. -->
    <config name="minimum_supported_wp_version" value="6.2"/>

    <!-- Verify that all gettext calls use the correct text domain. -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="default-featured-image"/>
            </property>
        </properties>
    </rule>

    <!-- Verify that everything in the global namespace is prefixed with a plugin specific prefix. -->
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <!-- Provide the prefixes to look for. -->
            <property name="prefixes" type="array">
                <element value="dfi"/>
                <element value="default_featured_image"/>
            </property>
        </properties>
    </rule>

</ruleset>
