includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  phpVersion: 70400
  level: 8
  bootstrapFiles:
    - phpstan.php
  paths:
    - app
    - set-default-featured-image.php
  ignoreErrors:
