includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    phpVersion: 70100
    level: 8
    bootstrapFiles:
    	- .phpstan.php
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - .github
        - support-examples.php
    ignoreErrors:
        - '#Cannot access offset int on array\|false.#'
